<h1>About Page</h1>
<p><span class="label label-default">Read all about me here.</span></p>
<p>Find me in app/views/pages/about.html.erb</p>
<p>Find me in app/views/pages/about.html.erb</p>
<p>Find me in app/views/pages/about.html.erb</p>
<p>Find me in app/views/pages/about.html.erb</p>
<p>Find me in app/views/pages/about.html.erb</p>